{% extends 'layouts/_reg_log.html' %}
{% block content %}

<div class="card mb-3">

  <div class="card-body">

    <div class="pt-4 pb-2">
      <h5 class="card-title text-center pb-0 fs-4">Créer un compte</h5>
      <p class="text-center small">Entrez vos informations personnelles pour créer un compte</p>
      {% include 'includes/messages.html' %}
    </div>

    <form method="post" class="row g-3 needs-validation" novalidate>
      {% csrf_token %}
      <div class="col-12">
        <label for="yourName" class="form-label">Nom de l'entreprise</label>
        <input type="text" name="company" class="form-control" id="yourName" required>
        <div class="invalid-feedback">S'il vous plaît entrez un nom d'entrepsie!</div>
      </div>

      <div class="col-12">
        <label for="yourEmail" class="form-label">Votre e-mail</label>
        <input type="email" name="email" class="form-control" id="yourEmail" required>
        <div class="invalid-feedback">Veuillez saisir une adresse e-mail valide !</div>
      </div>

      <div class="col-12">
        <label for="yourUsername" class="form-label">Nom d'utilisateur</label>
        <div class="input-group has-validation">
          <span class="input-group-text" id="inputGroupPrepend">@</span>
          <input type="text" name="username" class="form-control" id="yourUsername" required>
          <div class="invalid-feedback">Veuillez choisir un nom d'utilisateur..</div>
        </div>
      </div>

      <div class="col-12">
        <label for="yourPassword" class="form-label">Mot de passe</label>
        <input type="password" name="password" class="form-control" id="yourPassword" required>
        <div class="invalid-feedback">S'il vous plait entrez votre mot de passe!</div>
      </div>


      <div class="col-12">
        <label for="confirmpassword" class="form-label">Confirme mot de passe</label>
        <input type="password" name="confirmpassword" class="form-control" id="confirmpassword" required>
        <div class="invalid-feedback">S'il vous plait confirmer votre mot de passe!</div>
      </div>

      <div class="col-12">
        <div class="form-check">
          <input class="form-check-input" name="terms" type="checkbox" value="" id="acceptTerms" required>
          <label class="form-check-label" for="acceptTerms">J'accepte <a href="#">les termes et conditions</a></label>
          <div class="invalid-feedback">Vous devez accepter les termes avant de continuer.</div>
        </div>
      </div>
      <div class="col-12">
        <button class="btn btn-primary w-100" type="submit">Créer un compte</button>
      </div>
      <div class="col-12">
        <p class="small mb-0">Vous avez déjà un compte? <a href="{% url 'login' %}">Se connecter</a></p>
      </div>
    </form>

  </div>
</div>

</div>
</div>
</div>

{% endblock %}